@model IEnumerable<AppWeb.ViewModels.VilleViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomVille)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomVille)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Villeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Villeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Villeid })
        </td>
    </tr>
}

</table>
